.main-block {
  position: relative;
  background: #9b9490;
  border-bottom: 4px solid #363636; }
  .main-block__wrapper {
    box-sizing: border-box;
    border-left: 1px solid #89837f;
    border-right: 1px solid #89837f;
    max-width: 1100px;
    min-width: 960px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box; }
  .main-block__img {
    width: 100%;
    height: 100%;
    display: block; }
  .main-block__h1 {
    position: absolute;
    top: 50px;
    right: 0;
    color: #fff;
    max-width: 375px;
    font-family: 'NeoSansCyr-LIght';
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3); }
  .main-block__bigText {
    font-size: 49px;
    line-height: 52px;
    display: block;
    margin-bottom: 42px; }
  .main-block__smallText {
    max-width: 355px;
    display: block;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 9px; }
  .main-block__link {
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline; }
    .main-block__link:hover {
      text-decoration: none; }
