@import "mixins";

.question {
  background: url(../img/bg.jpg) 0 0 repeat;
  border-bottom: 1px solid #dedede;

  &__wrapper {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    @include wrapper;
  }
  .pages-title {
    border-bottom: none;
  }
  h2 {
    margin-bottom: 44px;
  }
  p {
    font-family: Tahoma;
    line-height: 24px;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.empty {
  background: url(../img/bg.jpg) 0 0 repeat;
  height: 160px;
  box-sizing: border-box;

  &__wrapper {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    @include wrapper;
  }
}
