extends ../layouts/main_layout.jade

block title

block content
	include ../common/main_block.jade
	include ../common/rates.jade
	include ../common/form.jade
	include ../common/map.jade
//- 
//- block map
//- 	// build:js js/map.min.js
//- 	script(src="js/map.js")
//- 	//endbuild
