footer.footer
  .footer__block-top
    .footer__wrapper
      ul.footer__menu
        li.footer__menu--item О компании
        li.footer__menu--item
          a(href="").footer__menu--link Основная деятельность
        li.footer__menu--item
          a(href="").footer__menu--link Руководство
        li.footer__menu--item
          a(href="").footer__menu--link Вакансии
        li.footer__menu--item
          a(href="").footer__menu--link Контакты
          
      ul.footer__menu
        li.footer__menu--item Потребителям
        li.footer__menu--item
          a(href="").footer__menu--link Тарифы
        li.footer__menu--item
          a(href="").footer__menu--link Образцы договоров теплоснабжения и горячего водоснабжения
        li.footer__menu--item
          a(href="").footer__menu--link Узлы учета тепловой энергии
        li.footer__menu--item
          a(href="").footer__menu--link Раскрытие информации
        li.footer__menu--item
          a(href="").footer__menu--link Нормативные документы
        li.footer__menu--item
          a(href="").footer__menu--link Дебиторская задолженность
        li.footer__menu--item
          a(href="").footer__menu--link Вопрос-ответ
          
      ul.footer__menu
        li.footer__menu--item Подключение к&nbsp;теплоснабжению
        li.footer__menu--item
          a(href="").footer__menu--link Нормативные документы
        li.footer__menu--item
          a(href="").footer__menu--link Плата за подключение
        li.footer__menu--item
          a(href="").footer__menu--link Форма заявки на подключение
        li.footer__menu--item
          a(href="").footer__menu--link Образец договора на подключение
      ul.footer__menu
        li.footer__menu--item Закупки
        li.footer__menu--item
          a(href="").footer__menu--link Положение о закупках
        li.footer__menu--item
          a(href="").footer__menu--link План закупок
        li.footer__menu--item
          a(href="").footer__menu--link Нормативные документы
      
      ul.footer__menu
        li.footer__menu--item Пресс-центр
        li.footer__menu--item
          a(href="").footer__menu--link Новости компании
        li.footer__menu--item
          a(href="").footer__menu--link СМИ о компании
      
      ul.footer__menu
        li.footer__menu--item Территория обслуживания
    
  .footer__block-bottom
    .footer__wrapper-bottom
      .footer__bottom-title ООО Северная ТК
      .footer__bottom-adress Санкт-петербург, пос. Мурино, ул. Главная, строение 8 
        a(href="mailto:email@tksevernaya.ru").footer__bottom-mail email@tksevernaya.ru, 
        span.footer__bottom-phone (812) 421-00-00
      .footer__bottom-tk (с) Северная ТК, 2015
