header.header

	.header__top
		.header__top-wrapper
			.header__adress Санкт-петербург, пос. Мурино, ул. Главная, строение 8

			.header__phone (812) 421-00-00
			.header__mail
				a(href="mailto:email@tksevernaya.ru").header__mail-link email@tksevernaya.ru
	.header__bottom
		.header__bottom-wrapper
			a(href="").logo
			nav.nav
				ul.nav__menu
					li.nav__list
						a(href="#").nav__link О компании
						ul.nav__menu-hide
							li.nav__list-hide
								a(href="").nav__link-hide Основная деятельность
							li.nav__list-hide
								a(href="").nav__link-hide Руководство
							li.nav__list-hide
								a(href="").nav__link-hide Вакансии
							li.nav__list-hide
								a(href="").nav__link-hide Контакты
								
					li.nav__list
						a(href="#").nav__link Потребителям
						ul.nav__menu-hide
							li.nav__list-hide
								a(href="").nav__link-hide Тарифы
							li.nav__list-hide
								a(href="").nav__link-hide Образцы договоров теплоснабжения и горячего водоснабжения
							li.nav__list-hide
								a(href="").nav__link-hide Узлы учета тепловой энергии
							li.nav__list-hide
								a(href="").nav__link-hide Раскрытие информации
							li.nav__list-hide
								a(href="").nav__link-hide Нормативные документы
							li.nav__list-hide
								a(href="").nav__link-hide Дебиторская задолженность
								
					li.nav__list
						a(href="#").nav__link Подключение к&nbsp;теплоснабжению
						ul.nav__menu-hide
							li.nav__list-hide
								a(href="").nav__link-hide Нормативные документы
							li.nav__list-hide
								a(href="").nav__link-hide Плата за подключение
							li.nav__list-hide
								a(href="").nav__link-hide Форма заявки на подключение
							li.nav__list-hide
								a(href="").nav__link-hide Образец договора на подключение
						
					li.nav__list
						a(href="#").nav__link Закупки
						ul.nav__menu-hide
							li.nav__list-hide
								a(href="").nav__link-hide Положение о закупках
							li.nav__list-hide
								a(href="").nav__link-hide План закупок
							li.nav__list-hide
								a(href="").nav__link-hide Нормативные документы
						
					li.nav__list
						a(href="#").nav__link Пресс-центр
						ul.nav__menu-hide
							li.nav__list-hide
								a(href="").nav__link-hide Новости компании
							li.nav__list-hide
								a(href="").nav__link-hide СМИ о компании
						
					li.nav__list.nav__list-last
						a(href="#").nav__link Территория обслуживания
