section.leaders
  .leaders__wrapper
    .pages-title
      h2 Руководство
    .person
      img(src="img/pers1.png", alt="Васенев Глеб Борисович").person__photo
      .person__info
        .person__name Васенев Глеб Борисович
        .person__place Генеральный директор 
        a(href="").person__mail mail@mail.ru

    .person
      img(src="img/pers2.png", alt="Иванущик Елена Михайловна").person__photo
      .person__info
        .person__name Иванущик Елена Михайловна
        .person__place Заместитель генерального директора по капитальному строительству 
        a(href="").person__mail mail@mail.ru

    .person
      img(src="img/pers3.png", alt="Крупенин Евгений Владимирович").person__photo
      .person__info
        .person__name Крупенин Евгений Владимирович
        .person__place Главный инженер   
        a(href="").person__mail mail@mail.ru
