section.main-block
  .main-block__wrapper
    img(src="img/main-img.jpg", alt="main-img").main-block__img
    h1.main-block__h1
      span.main-block__bigText Приносим тепло в ваши дома
      span.main-block__smallText Тепловая компания Северная обеспечивает теплом 237 дома в Санкт-Петербурге и&nbsp;Ленинградской области 
      a(href="").main-block__link Подробнее
    
