section.map
  .map__wrapper
    .map__title Территория обслуживания
    .map__icons 
      .map__icon.map__icon1 ТК Северная
      .map__icon.map__icon2 ТК НордЭнерго
      .map__icon.map__icon3 ТК Новгородская
    //- .map__yandex
    #map
    button(type="button").button.button-up Наверх
