section.partners
  .partners__wrapper
    .pages-title
      h2 Наши партнеры
    .partners__section
      .partners__block
        .partners__company
          .partners__img-block
            img(src="img/logo1.jpg", alt="partner1").partners__img.partners__img1
          .partners__name ООО “Хорошая компания”
        .partners__company
          .partners__img-block
            img(src="img/logo2.jpg", alt="partner2").partners__img.partners__img2
          .partners__name ООО “ОченьХорошая компания”
        .partners__company
          .partners__img-block
            img(src="img/logo3.jpg", alt="partner3").partners__img.partners__img3
          .partners__name ООО “Хорошая компания”
      .partners__block
        .partners__company
          .partners__img-block
            img(src="img/logo3.jpg", alt="partner3").partners__img.partners__img3
          .partners__name ООО “Хорошая компания”
        .partners__company
          .partners__img-block
            img(src="img/logo1.jpg", alt="partner1").partners__img.partners__img1
          .partners__name ООО “Хорошая компания”
        .partners__company
          .partners__img-block
            img(src="img/logo2.jpg", alt="partner2").partners__img.partners__img2
          .partners__name ООО “ОченьХорошая компания”
