section.purchase
  .purchase__wrapper
    .pages-title
      h2 Положение о закупках
    .purchase__text
      p Закупки в ООО «ТК Северная» проводятся в соответствии с  Федеральным законом от 18.07.2011 года № 223-ФЗ «О закупках товаров, работ, отдельными видами юридических лиц», Положением о закупках товаров, работ, услуг ООО «ТК Северная» и Планом закупок товаров, работ, услуг ООО «ТК Северная».
      p В соответствии с Федеральным законом №223-ФЗ от 18.07.2011 г. «О закупках товаров, работ, услуг отдельными видами юридических лиц», а также в целях повышения эффективности и обеспечения информационной открытости системы закупок, вся официальная информация о закупках ООО «ТК Северная» (положение о закупках, планы закупок, отчетности, информация о проводимых закупках, в том числе формы документов и договоров, протоколы заседаний комиссий) публикуется на общероссийском официальном сайте 
        a(href="").purchase__link http://zakupki.gov.ru
        |.
    a(href="purchase.docx" target="blank").button.button-purchase Скачать Положение о закупках
