section.question
  .question__wrapper
    .pages-title
      h2 Вопрос-ответ
      p Расчеты за полученное тепло осуществляются на основании показаний приборов учета, установленных потребителем в здании (помещении) и допущенных в эксплуатацию в качестве коммерческих (в соответствии с требованиями Правил учета тепловой энергии и теплоносителя). 
      p Показания приборов потребитель обязан передавать письменно теплоснабжающей организации.
      p Оплата за потребленную тепловую энергию производится потребителем ежемесячно.
