section.rates
  .rates__wrapper
    a(href="").rates-block.rates-block1 
      .rates-block--hover
      span.rates-block__link Тарифы
    a(href="").rates-block.rates-block--center.rates-block2
      .rates-block--hover
      span.rates-block__link Территория обслуживания
    a(href="").rates-block.rates-block3
      .rates-block--hover
      span.rates-block__link Узлы учета тепловой энергии
