section.text
  .text__wrapper
    .pages-title
      h2 заголовок
    .text__block
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      h3 Подзаголовок
      p В соответствии с Федеральным законом №223-ФЗ от 18.07.2011 г. «О закупках товаров, работ, услуг отдельными видами юридических лиц», а также в целях повышения эффективности и обеспечения информационной открытости системы закупок, вся официальная информация о закупках ООО «ТК Северная» (положение о закупках, планы закупок, отчетности, информация о проводимых закупках, в том числе формы документ и договоров, протоколы заседаний комиссий) публикуется на общероссийском официальном сайте 
        a(href="") http://zakupki.gov.ru
        |.
      div
        img(src="img/text_img.jpg", alt="text_img")
        i Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      p В соответствии с Федеральным законом №223-ФЗ от 18.07.2011 г. «О закупках товаров, работ, услуг отдельными видами юридических лиц», а также в целях повышения эффективности и обеспечения информационной открытости системы закупок, вся официальная информация о закупках ООО «ТК Северная» (положение о закупках, планы закупок, отчетности, информация о проводимых закупках, в том числе формы и договоров, протоколы заседаний комиссий) публикуется на общероссийском официальном сайте 
        a(href="") http://zakupki.gov.ru
        |.
      ul
        li официальная 
        li информация о закупках 
        li положение о закупках
        li планы закупок 
        li отчетности 
        li информация
      button.button Кнопка
      
